<div class="container">
    <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title">Title: <%= @bookmark.title%></h5>
          <h6 class="card-subtitle mb-2">Link: <%= @bookmark.url %></h6>
          <div class="container">
            <p class="card-text p-card"><strong>Category: </strong><%= @bookmark.category %></p>
            <p class="card-text p-card"><strong>Type: </strong><%= @bookmark.type %></p>
          </div>
        </div>
    </div>
</div>
