<p id="notice_bookmark"></p>

<h1>Bookmarks</h1>

<div id="form_new" class="container"></div>

<div id="show_bookmark" class="container"></div>

<div id="new_button" class="container">
  <%= render 'new_button' %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Url</th>
      <th scope="col">Category</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody id="bookmarks">
    <% @bookmarks.each do |bookmark| %>
      <%= render 'bookmark', bookmark: bookmark %>
    <% end %>
  </tbody>
</table>

