<h1>Editing Type</h1>

<%= render 'form', type: @types %>

<div class="container py-5">
    <%= link_to 'Show', type_path(@type), class: 'btn btn-success btn-lg' %> 
    <%= link_to 'Back', types_path, class: 'btn btn-outline-dark btn-lg' %>
</div>
