<h1>Bookmark Graphics</h1>

<h2 class="text-center py-4">Type distribution summarized</h2>

<div class="container my-3">
    <%= pie_chart @bookmark_by_types, donut: true %>
</div>

<div class="container py-5">
    <%= link_to 'Back', bookmarks_path, class: 'btn btn-outline-dark btn-lg' %>
</div>